/* You can add global styles to this file, and also import other style files */

/* Util Classes Start */
.text-center {
    text-align: center;
}

.text-initial {
    text-align: initial;
}

.display-block {
    display: block;
}

.text-big {
    color: #2D2D2D;
    font-size: 16px;
}

.text-medium-dark {
    color: #2D2D2D;
    font-size: 14px;
}

.text-medium {
    color: #8A8A8A !important;
    font-size: 14px;
}

.text-small {
    color: #8A8A8A;
    font-size: 12px !important;
}

.size-14 {
    font-size: 14px!important;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.flex-5 {
    flex: 5 !important;
}

.flex-6 {
    flex: 6 !important;
}

.border-right {
    border-right: 1px solid #f3f3f3;
}

.hidden {
    visibility: hidden;
}

.pointer {
    cursor: pointer;
}

/* Util Classes End */

.drag {
    display: none;
}

.draggable:hover .drag {
    display: block;
    position: absolute;
    left: 12px;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Nunito', sans-serif !important; }
